@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* background-color: #26335d; */

  ::-webkit-scrollbar {
    width: 6px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff7b52;
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000;
  }
}
.logoSec{
  /* margin-right: 30rem;
  margin-left: 10rem; */
  font-size: 30px;
  text-decoration: none;
 
}
.outerNav{
  display: none;
}

@keyframes nav {
  0% {
    color: white;
  }
  1% {
    background-color: white;
    color: black;
    }
    100%{
      background-color: white;
    }
}
.mainSection {
  background-color: #26335d;
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(hero\ shape\ 8.png);
  background-repeat: no-repeat;
  background-size: 50% 92vh;
  z-index: 1;
  background-color: #26335d;
}
.hero .mainHero {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin-top: 40px;
}


.hero .row img {
  height: 450px;
  width: 80%;
}
.navbar {
  display: flex;
  background-color: transparent;
  justify-content: space-between;
  /* padding: 20px; */
  /* position: sticky; */
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  animation:nav linear;
  animation-timeline: scroll();
  animation-range: entry 0 cover 100%;
}
/* .navMenu ul {
  display: flex;
  background-color: transparent;
  text-align: center;
} */

/* .navMenu ul li {
  margin-right: 50px;
  list-style: none;
/* } 
.cardLogo {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  align-items: center;
}

/* State section */

.stateSection {
  display: flex;
  flex-wrap: wrap;
  background-color: #26335d;
  flex-direction: column;
}

.container .row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  /* padding: 50px; */
  margin-bottom: 120px;
}
.container .row .col h1 {
  color: rgb(158, 99, 214);
}
.container .row .col .stateProp {
  color: white;
  font-weight: bold;
}

/* Info Section */

.infoSection {
  background-color: #26335d;
}

.infoSection .container .row {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.infoSection .container .row .col {
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
}
.infoSection .container .row .infoText {
  padding-top: 10px;
}

.infoSection .container .row .col h2 {
  color: white;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
}
.infoSection .container .row .col p {
  color: white;
  justify-content: left;
  text-align: left;
  display: flex;
}

.infoSection .container .row .col a {
  color: rgb(158, 99, 214);
  font-weight: bold;
  display: flex;
  text-align: left;
  text-decoration: none;
}

/* Product Section */

.productSection {
  background-color: #26335d;
  display: flex;
  flex-wrap: wrap;
  /* padding-left: 200px; */
  justify-content: space-between;
  flex-direction: column;
}

.productSection li {
  color: rgb(158, 99, 214);
  list-style: none;
  font-weight: bold;
}
.productSection h2 {
  color: white;

  font-weight: 600;
}
.productSection p {
  color: white;
  font-size: 15px;
}

.card-body h5 {
  display: flex;
  justify-content: left;
}
.card-body a {
  display: flex;
  justify-content: left;
  text-decoration: none;
  /* color: rgb(158, 99, 214); */
  padding-bottom: 5px;
  font-weight: bold;
}
.brandLogo a h1 {
  color: white;
}
.card-body p {
  font-size: 15px;
  color: rgb(30, 30, 30);
  display: flex;
  justify-content: left;
  text-align: left;
}
.productSection .productPrize {
  text-align: start;
}

.productSection .productPrize span {
  color: orangered;
  text-decoration: none;
  font-size: 18px;
}
.productSection button {
  display: flex;
  /* text-align: left; */
  border: 2px solid rgb(158, 99, 214);
  border-radius: 20px;
  color: rgb(158, 99, 214);
  font-size: 13px;
  font-weight: bold;
}
.mainRow {
  display: flex;
  justify-content: space-between;
}
.mainCol {
  display: flex;
  justify-content: center;
  padding: 0;

  padding: 0 0;
  flex-wrap: wrap;
}

/* 2 */
.productSection .courseCardPrizeText {
  color: #8ec2f2;
  font-weight: 500;
  padding-top: 0;
}

.productSection .cardIconMain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  padding-top: 10px;
}

.productSection .cardIcon {
  color: black;
  font-size: 50px;
  border: 2px solid rgb(158, 99, 214);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  padding: 0;
}
.productSection .checkBox {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 30px;
  margin-left: 5%;
}

.productSection .checkBox label {
  display: flex;
  padding-left: 15px;
}
.productSection .courseCardText p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  color: #737373;
}
.productSection .courseCardText li {
  font-size: 20px;
}
.productSection .courseCardPrize {
  font-size: 30px;
  font-weight: bold;
  color: rgb(158, 99, 214);
}
.productSection .courseCardText .courseCardPrizeText {
  color: #8ec2f2;
  font-weight: 500;
  padding-top: 0;
}
.productSection .form-check-input:checked {
  background-color: #74ba74;
  border: none;
  border-radius: 20px;
  height: 20px;
  width: 20px;
}

.productSection .courseCardText a {
  display: flex;
  border-radius: 30px;
  justify-content: center;
  background-color: rgb(158, 99, 214);
  font-size: 15px;
  color: white;
}
/* faculty section */

.expertFaculty {
  display: flex;
  background-color: #26335d;

  padding: 50px;

  flex-direction: column;
}

.expertFaculty .row .col {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.expertFaculty .list {
  color: rgb(158, 99, 214);
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
.expertFaculty h2 {
  color: white;
}
.expertFaculty .para {
  color: white;
}
.photo {
  display: flex;
  justify-content: center;
  border-radius: 100%;
}
.photo img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.facultyText p {
  /* display: flex; */
  padding-top: 15px;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}
.star {
  /* color: rgb(189, 189, 105); */
  display: flex;
  justify-content: center;
}

.checked {
  color: #f3cd03;
}

.listName {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
}
.listProfesion {
  display: flex;
  justify-content: center;
  color: #737373;
}

/* Contact section */

.contactsection {
  background-color: #26335d;
}
.contactText {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contactText li {
  list-style: none;
  font-weight: bold;
  color: rgb(158, 99, 214);
}

.contactText h1 {
  color: white;
}
.contactText p {
  color: white;
}
.inputField {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  padding-bottom: 100px;
}

.inputField button {
  background-color: rgb(158, 99, 214);
  color: white;
}

/* Footer */

.footerSection {
  background-color: #26335d;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
}
.columns {
  display: flex;
  flex-wrap: wrap;
}
.columns .col {
  /* display: flex; */
  flex-wrap: wrap;
  padding: 30px;
}
.columns h1 {
  font-size: 20px;
  color: white;
}
.columns li {
  list-style: none;
  color: white;
}

.mainFooter {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.reservedText {
  color: black;
  font-size: 15px;
}

.listIcons {
  display: flex;
  list-style: none;
}
.listIcons li {
  margin-left: 15px;
  color: rgb(158, 99, 214);
}

/* slide Show */
.slideShow {
  animation: slideShow linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}
.slideShow1 {
  animation: slideShow linear;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}

@keyframes slideShow {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(1);
  }
}

/* Media Quieries */
@media (max-width: 1080px) {
  .stateSection {
    margin: 0;
    flex-direction: column;
    /* padding-top: 100%  ; */
  }
  .container .row {
    /* flex-direction: column; */
    justify-content: center;
  }
  .mainCol {
    padding: 17px;
  }
  .mainHero .col{
    padding: 0;
  }

  .inputField {
    width: 100%;
  }

  .cardChild {
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .mainHero {
    flex-direction: column;
    padding-top: 100px;
  }
  .hero .mainHero {
    margin-top: -70px;
    align-items: center;
  }
  .girlImg {
    display: none;
  }
  .mainCol {
    padding: 15px 0;
  }

  .navbar {
    padding-left: 20px;
  }

  .text {
    margin: 0;
    text-align: center;
  }
  .myCard {
    display: flex;
    flex-wrap: wrap;
    /* float: none; */
    flex-direction: column;
    /* left: 28%; */
    width: 100%;
    margin: auto;
    text-align: center;
    /* position: absolute; */
    animation: slideShow linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    /* top: 750px; */
  }

  .cardSection {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }

  .stateSection {
    margin: 0;
    flex-direction: column;
    /* padding-top: 100%; */
  }
  .container .row {
    flex-direction: column;
  
  }
  /* .columns{
    flex-direction: column;
    flex-wrap: wrap;
    
   } */

  .inputField {
    width: 100%;
  }
  .inputField button {
    padding: 0;
  }
}
@media (max-width: 480px) {
  .mainCol {
    padding: 15px 0;
  }
  .hero {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .navMenu ul {
    display: flex;
    flex-wrap: wrap;
  }
  .mainHero {
    flex-direction: column;
    padding-top: 100px;
    margin-left: 0;
}
.mainHero .col{
  padding:10px 0px 0 ;
}


  .new {
    
    position: absolute;
    border-radius: 100%;
    top: -30px;
    right: 0px;
    background-color: #E77C40;
    height: 80px;
    width: 80px;
    display: block;
    text-align: center;
  }
  .text {
    margin: 0;
    text-align: center;
  }
  .myCard {
    display: flex;
    flex-wrap: wrap;
    float: none;
    flex-direction: column;
    /* left: 28%; */
    width: 100%;
    margin: auto;
    text-align: center;
    /* position: absolute; */
    animation: slideShow linear;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
    /* top: 750px; */
    /* padding-top: 20px; */
  }
  
  .cardSection {
    display: flex;
    justify-content: center;
    margin: auto;
    flex-direction: column;
  }

  .stateSection {
    margin: 0;
    flex-direction: column;
    /* padding-top: 100%; */
  }
  .container .row {
    flex-direction: column;
    /* padding-top: 150%; */
  }

  /* .columns{
   flex-direction: column;
   flex-wrap: wrap;
   
  }
  .columns .col{

  } */

  .inputField {
    width: 100%;
  }
  .inputField button {
    padding: 0;
  }
}
