.myCard {
  background-color: transparent;
  display: flex;
  justify-content: center;
  left: 250px;
  position: absolute;
  animation: slideShow linear;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
  top: 600px;
  padding: 10px;
}
.cardChild {
  margin: 20px;
}

#header::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* position: fixed; */
  background-repeat: no-repeat;
  background-size: 60% 100%;
  z-index: -1;

  background-image: url("hero\ shape\ 8.png");
  background-color: #26335d;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navSection {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  list-style: none;
  padding: 20px;
}
.brandLogo {
  font-size: 25px;
  color: white;
}

.navSection button {
  color: white;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 11px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
}

.navSection .button1 button {
  color: white;
}


.navSection .button1 .btn2 {
  background-color: rgb(158, 99, 214);
  padding: 10px;
  font-size: 15px;
}
.heroSection {
  display: flex;
  justify-content: space-around;
  position: relative;
}
.heroSection img {
  height: 80%;
  width: 80%;
}
.text {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 160px;
  color: white;
}

.heroButton .heroButton1 {
  background-color: rgb(158, 99, 214);
  color: white;
}

.cardLogo {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 30px;
  align-items: center;
}
.logo {
  display: flex;
  padding-left: 16px;
  padding-top: 16px;
}

.cardSection {
  display: flex;
  justify-content: space-evenly;
}

/* State section */

.stateSection {
  margin-top: 41px;
  padding-top: 200px;
  display: flex;
  background-color: #26335d;
  flex-direction: column;
}

.container .row {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 50px;
}
.container .row .col h1 {
  color: rgb(158, 99, 214);
}
.container .row .col .stateProp {
  color: white;
  font-weight: bold;
}

/* Info Section */

.infoSection {
  background-color: #26335d;
}

.infoSection .container .row {
  display: flex;
  justify-content: center;
}

.infoSection .container .row .col {
  display: flex;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
}
.infoSection .container .row .infoText {
  padding-top: 10px;
}

.infoSection .container .row .col h2 {
  color: white;
  display: flex;
  padding-bottom: 15px;
  padding-top: 15px;
}
.infoSection .container .row .col p {
  color: white;
  justify-content: left;
  text-align: left;
  display: flex;
}

.infoSection .container .row .col a {
  color: rgb(158, 99, 214);
  font-weight: bold;
  display: flex;
  text-align: left;
  text-decoration: none;
}

/* Product Section */

.productSection {
  background-color: #26335d;
  display: flex;
  padding-left: 200px;
  justify-content: left;
  flex-direction: column;
}

.productSection li {
  color: rgb(158, 99, 214);
  list-style: none;
  font-weight: bold;
}
.productSection h2 {
  color: white;

  font-weight: 600;
}
.productSection p {
  color: white;
  font-size: 15px;
}

.card-body h5 {
  display: flex;
  justify-content: left;
}
.card-body a {
  display: flex;
  justify-content: left;
  text-decoration: none;
  color: rgb(158, 99, 214);
  padding-bottom: 5px;
  font-weight: bold;
}

.card-body p {
  font-size: 15px;
  color: rgb(30, 30, 30);
  display: flex;
  justify-content: left;
  text-align: left;
}
.productSection .productPrize {
  color: rgb(155, 150, 150);
}

.productSection .productPrize span {
  color: orangered;
}
.productSection button {
  display: flex;
  /* text-align: left; */
  border: 2px solid rgb(158, 99, 214);
  border-radius: 20px;
  color: rgb(158, 99, 214);
  font-size: 13px;
  font-weight: bold;
}

.secondCardSection {
  background-color: #8ec2f2;
}

/* 2 */
.productSection .courseCardPrizeText {
  color: #8ec2f2;
  font-weight: 500;
  padding-top: 0;
}

.productSection .cardIconMain {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-left: 0;
  padding-top: 10px;
}

.productSection .cardIcon {
  color: black;
  font-size: 50px;
  border: 2px solid rgb(158, 99, 214);
  height: 70px;
  width: 70px;
  border-radius: 100%;
  padding: 0;
}
.productSection .checkBox {
  font-size: 15px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding-left: 30px;
}

.productSection .checkBox label {
  display: flex;
}
.productSection .courseCardText p {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
  color: #737373;
}

.productSection .courseCardPrize {
  font-size: 30px;
  font-weight: bold;
  color: rgb(158, 99, 214);
}
.productSection .courseCardText .courseCardPrizeText {
  color: #8ec2f2;
  font-weight: 500;
  padding-top: 0;
}

.productSection .courseCardText a {
  display: flex;
  border-radius: 30px;
  justify-content: center;
  background-color: rgb(158, 99, 214);
  font-size: 15px;
  color: white;
}
/* faculty section */

.expertFaculty {
  display: flex;
  background-color: #26335d;
  justify-content: left;
  padding: 200px;
  flex-direction: column;
}

.expertFaculty .list {
  color: rgb(158, 99, 214);
  list-style: none;
  font-weight: bold;
  font-size: 20px;
}
.expertFaculty h2 {
  color: white;
}
.expertFaculty .para {
  color: white;
}

.facultyCard1 {
  padding: 70px;
  border-radius: 20px;
}
.photo {
  display: flex;
  justify-content: center;
  border-radius: 100%;
}
.photo img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
}
.facultyText p {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  text-align: center;
  font-size: 15px;
}
.star {
  color: rgb(189, 189, 105);
  display: flex;
  justify-content: center;
}
.listName {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
}
.listProfesion {
  display: flex;
  justify-content: center;
  color: #737373;
}

/* Contact section */

.contactsection {
  background-color: #26335d;
}
.contactText {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.contactText li {
  list-style: none;
  font-weight: bold;
  color: rgb(158, 99, 214);
}

.contactText h1 {
  color: white;
}
.contactText p {
  color: white;
}
.inputField {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  padding-bottom: 100px;
}

.inputField button {
  background-color: rgb(158, 99, 214);
  color: white;
}

/* Footer */

.footerSection {
  background-color: #26335d;
  padding: 50px;
}
.columns {
  display: flex;
}
.columns h1 {
  font-size: 20px;
  color: white;
}
.columns li {
  list-style: none;
  color: white;
}

.mainFooter {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
.reservedText {
  color: black;
  font-size: 15px;
}

.listIcons {
  display: flex;
  list-style: none;
}
.listIcons li {
  margin-left: 15px;
  color: rgb(158, 99, 214);
}

/* slide Show */
.slideShow {
  animation: slideShow linear;
  animation-timeline: view();
  animation-range: entry 0 cover 30%;
}

@keyframes slideShow {
  from {
    opacity: 0;
    scale: 0.5;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    scale: 1;
    transform: translateY(1);
  }
}
