#Header::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('hero-8-bg-shape-cover-dark.jpg') ;
    
    background-repeat: no-repeat; 
    background-size: cover; 
    z-index: -1; 
    
  }
  *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

 .Nav_Section{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    list-style: none;
    padding: 20px;
 }
  .Brand_Logo{
   font-size: 25px;
   color: white;
 }


#Navbar {
   display: flex;
   align-items: center;
   justify-content: center;
}
#Navbar li {
   list-style: none;
   padding: 0 11px;
   position: relative;
}
#Navbar li a {
   text-decoration: none;
   font-size: 16px;
   font-weight: 600;
   color: white;
   
}

.Nav_Section .Button button{
   color: black;
}

.Nav_Section .Button .Btn2{
   background-color: rgb(158, 99, 214);
   padding: 10px;
   font-size: 15px;
}
 .Hero_Section{
  display: flex;
  flex-direction: column;
 }
.Text{
   display: flex;
   flex-direction: column;
   text-align: left;
   margin:160px;
   color: white;
}
.HeroButton .HeroButton1{
   background-color:rgb(158, 99, 214) ;
   color: white;
}


.Card_Logo {
   display: flex;
   justify-content: center;
   height: 30px;
   width: 30px;
   align-items: center;
}
.Logo{
   display: flex;
   padding-left: 16px;
   padding-top: 16px;
}

.Card_Section{
   display: flex;
   justify-content: space-evenly;
}



/* State section */

.State_Section{
   display: flex;
   background-color: #26335D;
   
   
}
.container .row {
   display: flex;
   justify-content: space-between;
   text-align: center;
   padding: 50px;
   
}
.container .row .col h1{
   color: rgb(158, 99, 214);
}
.container .row .col .State_Prop{
   color: white;
}

/* Info Section */

.Info_Section{
   background-color: #26335D;
}

.Info_Section .container .row{
   display: flex;
   justify-content: center;
   
}

.Info_Section .container .row .col{
   display: flex;
   padding: 100px;
   flex-direction: column;
   justify-content: center;
}
.Info_Section .container .row .Info_Text{
   padding-top: 10px;
}

.Info_Section .container .row .col h2{
   color: white;
   display: flex;
   padding-bottom: 15px;
   padding-top: 15px;
}
.Info_Section .container .row .col p{
   color: white;
   justify-content: left;
   text-align: left;
   display: flex;
   }

   .Info_Section .container .row .col a{
      color:rgb(158, 99, 214) ;
      display: flex;
      text-align: left;
      text-decoration: none;
   }

   /* Product Section */

   .Product_Section,
   .Corses_Section{
      background-color: #26335D;
      display: flex;
      padding-left: 200px;
      justify-content: left;
      flex-direction: column;
   }
   
   .Product_Section li,
   .Corses_Section li{
      color: rgb(158, 99, 214);
      list-style: none;
   }
   .Product_Section h2,
   .Corses_Section h2{
      color: white;
      
      font-weight: 600;
   }
   .Product_Section p,
   .Corses_Section p{
      color: white;
     font-size: 15px;
   }


   .card-body h5{
      display: flex;
      justify-content: left;
   }
   .card-body a{
      display: flex;
      justify-content: left;
      text-decoration: none;
      color:rgb(158, 99, 214);
      padding-bottom: 5px;
      font-weight: bold;
   }

   .card-body p{
      font-size: 15px;
      color: rgb(30, 30, 30);
      display: flex;
      justify-content: left;
      text-align: left;
   }
  .Product_Section .Product_Prize{
     color: rgb(155, 150, 150);
   }
   
   .Product_Section .Product_Prize span{
      color: orangered;
   }
   .Product_Section button{
      display: flex;
      text-align: left;
      border: 2px solid rgb(158, 99, 214);
      border-radius: 20px;
      color: rgb(158, 99, 214);
      font-size: 13px;
      font-weight: bold;
   }
   

   /* Corses_Section */

   .Corses_Section{
      padding-top: 100px;
      
   }
   .Corses_Section .List{
      color:rgb(158, 99, 214) ;
      
   }

.Corses_Section .Card_Icon{
   color: black;
   font-size: 50px;
   border: 2px solid rgb(158, 99, 214);
   height: 70px;
   width: 70px;
   border-radius: 100%;
   padding: 0;
}

.Corses_Section .Card_Icon_Main{
   display: flex;
   justify-content: center;
   text-align: center;
   padding-left: 0;
   padding-top: 10px;

}

.Corses_Section li{
   color: black;
   font-weight: bold;
   font-size: 20px;
}

.Course_Card_Text button{
   background-color: rgb(158, 99, 214);
   font-size: 15px;
   color: white;
   width:80% ;
}

.Corses_Section .Checkbox{
   font-size: 15px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
   padding-left: 30px;
   
}
.Corses_Section .Checkbox label{
   display: flex;

}
   
.Corses_Section .Para{
   display: flex;
   color: white;
   justify-content: left;
   
}
.Corses_Section p{
   display: flex;
   justify-content: center;
   text-align: center;
   padding-top: 5px;
   color: #737373;
}
.Corses_Section .Course_Card_Prize{
   font-size: 30px;
   font-weight: bold;
   color: rgb(158, 99, 214);
}
.Corses_Section .Course_Card_Prize_Text{
   color: #8EC2F2;
   font-weight:500;
   padding-top: 0;
}
.Corses_Intro{
   display: flex;
   flex-direction: column;
}


/* faculty section */


.Expert_Faculty{
   display: flex;
   background-color: #26335D;
   justify-content: left;
   padding: 200px;
   flex-direction: column;

}
 

.Expert_Faculty .List{
   color:rgb(158, 99, 214) ;
   list-style: none;
   font-weight: bold;
   font-size: 20px;
}
.Expert_Faculty h2{
   color: white;
}
.Expert_Faculty .Para{
   color: white;
}

.Faculty_Card1{
   padding: 70px;
   border-radius: 20px;
  
}
.Photo {
   display: flex;
   justify-content: center;
   border-radius: 100%;
}
.Photo img{
   height: 100px;
   width: 100px;
   border-radius: 100%;
}
 .Faculty_Text p{
   display: flex;
   padding-top: 15px;
   justify-content: center;
   text-align: center;
   font-size: 15px;
}
.star{
   color: rgb(189, 189, 105);
   display: flex;
   justify-content: center;
}
.List_Name{
   display: flex;
   justify-content: center;
   color: black;
   font-weight: bold;  
}
.List_Profesion{
   display: flex;
   justify-content: center;
   color: #737373;
}

/* Contact section */

.Contact_section{

   background-color: #26335D;
}
.Contact_Text{
   display: flex;
   justify-content: center;
   flex-direction: column;
   text-align: center;
}
.Contact_Text li{
   list-style: none;
   font-weight: bold;
   color:rgb(158, 99, 214) ;
}

.Contact_Text h1{
   color: white;
}
.Contact_Text p{
   color: white;
}
.Input_Field{
   display: flex;
   padding-top: 50px;
   justify-content: center;
   padding-bottom: 100px;
}

.Input_Field button{
   background-color: rgb(158, 99, 214);
   color: white;
}


/* Footer */

.Footer_Section{
   background-color: #26335D;
   padding: 50px;
}
.Columns{
   
   display: flex;

}
.Columns h1{
   font-size: 20px;
   color: white;
   
}
.Columns li{
   list-style: none;
   color: white;
}

.Main_Footer{

   background-color: white;
   display: flex;
   justify-content:space-evenly;
}

.Reserved_Text{
   color: black;
   font-size: 15px;
}

.List_Icons{
   display: flex;
   list-style: none;
   
}
.List_Icons li{
   margin-left: 15px;
   color:rgb(158, 99, 214) ;
}


